# ========================
# Node & TypeScript
# ========================
node_modules/
dist/
build/
.tsbuildinfo

# ========================
# Logs & Caches
# ========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.npm/

# ========================
# Environment
# ========================
.env
.env.*
!.env.example

# ========================
# Smart Contracts (Hardhat)
# ========================
artifacts/
cache/
coverage/
typechain-types/
typechain/

# ========================
# Frontend (Vite)
# ========================
.vite/
vite.config.ts.timestamp-*

# ========================
# OS & IDE
# ========================
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/

# ========================
# Misc / Database
# ========================
*.tmp
*.temp
# Nếu bạn dùng folder local nào đó để chứa data database thì bỏ comment dòng dưới
# pgdata/ 
# .data/